*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-family: "Open sans",sans-serif;
}

header{
	height: 90px;
	background: #2f3640;
}

.inner-width{
	max-width: 1000px;
	padding: 0 10px;
	margin: auto;
}

.logo{
	float:left;
	padding : 30px 0px;
	color: #ddd;
	font-size: 2em;
	font-weight: bold;
	text-transform: uppercase;
}

.logo > i{
	margin-right: 10px;
}


.navigation-menu{
	float: right;
	display: flex;
	align-items: center;
	min-height: 90px;
}

.navigation-menu a{
	margin-left: 10px;
	color: #ddd;
	text-transform: uppercase;
	padding:12px 20px; 
	border-radius: 25px;
	transition: .3s linear;
}

.navigation-menu a:hover{
	background: #fff;
	color: #2396D7;
	font-weight: bold;
	transform: scale(1.1);
}

.navigation-menu i{
	margin-right: 8px;
	font-size: 1.3em;

}

.menu-toggle-btn{
	float: right;
	height: 90px;
	line-height: 90px !important;
	color: #fff;
	font-size: 26px;
	display: none !important; 
	cursor: pointer;
}

@media screen and (max-width: 700px){
	.menu-toggle-btn{
		display: block !important;
	}

	.navigation-menu{
		position: fixed;
		width:100%;
		max-width: 400px;
		background: #172b4d;
		top: 90px;
		right: 0;
		display: none;
		padding: 20px 40px;
		box-sizing: border-box;
	}

	.navigation-menu a{
		display: block;
		margin: 10px 0;
	}

	.navigation-menu.active{
		display: block !important;
	}
}

